@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: white;
}

#shop-center-box {
    border-top: 1px solid #ddd;
    padding: 112px 0;
    #shop-center {
        margin: 0 auto;
        width: 980px;
        min-height: 240px;
        img {
            float: left;
        }
        .shop-center_right {
            float: right;
            margin-right: 90px;
            margin-top: 113px;
            p {
                font-family: "Microsoft YaHei", "PingFang SC";
                color: #666;
                font-size: 100%;
            }
            .shop-center_right-a {
                border: 1px solid red;
                color: red;
                display: block;
                font-size: 14px;
                height: 35px;
                line-height: 35px;
                margin-top: 16px;
                text-align: center;
                width: 150px;
            }
            .shop-center_right-a:hover{
                background: red;
                color: white;
            }
        }
    }
}