* {
  margin: 0;
  padding: 0; }

#login-box {
  position: relative;
  height: 480px;
  background: #151e31;
  background-image: url(../../../img/log/logbg.png);
  background-position: center 0;
  background-repeat: no-repeat; }
  #login-box #login {
    width: 1226px;
    margin: 0 auto;
    position: relative; }
    #login-box #login #login_01 {
      width: 280px;
      height: 378px;
      border: 1px solid #ccc;
      background: #fff;
      top: 40px;
      position: absolute;
      right: 0;
      padding: 20px 40px 20px; }
      #login-box #login #login_01 .login_p {
        font-size: 18px;
        color: #333;
        line-height: 36px; }
      #login-box #login #login_01 .login_box {
        margin-top: 5px;
        padding-bottom: 15px;
        position: relative; }
        #login-box #login #login_01 .login_box .login_box-phone-sp1 {
          width: 28px;
          height: 27px;
          margin: 8px 0 0 8px;
          background: url(../../../img/log/logo_i.png);
          background-position: -64px 0;
          position: absolute; }
        #login-box #login #login_01 .login_box .login_box-phone-inp {
          border: 1px solid #999;
          padding: 0;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-indent: 50px;
          font-size: 12px;
          box-sizing: border-box; }
        #login-box #login #login_01 .login_box .login_box-phone-sp2 {
          color: red;
          font-size: 12px;
          position: absolute;
          bottom: -2px;
          left: 9px; }
        #login-box #login #login_01 .login_box .login_box-img-sp1 {
          width: 28px;
          height: 27px;
          margin: 8px 0 0 8px;
          background: url(../../../img/log/logo_i.png);
          background-position: 0 0;
          position: absolute; }
        #login-box #login #login_01 .login_box .login_box-img-inp {
          border: 1px solid #999;
          padding: 0;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-indent: 50px;
          font-size: 12px;
          box-sizing: border-box; }
        #login-box #login #login_01 .login_box .login_box-img-sp2 {
          position: absolute;
          right: 1px;
          top: 1px;
          width: 85px;
          height: 38px;
          background: #f0f0f0;
          border-left: 1px solid #cdd1d4;
          text-align: center;
          line-height: 38px;
          color: red;
          cursor: pointer;
          font-size: 12px;
          z-index: 0; }
          #login-box #login #login_01 .login_box .login_box-img-sp2 img {
            width: 85px;
            height: 38px;
            border: none;
            background-color: #f0f0f0; }
        #login-box #login #login_01 .login_box .login_box-img-sp3 {
          color: red;
          font-size: 12px;
          position: absolute;
          bottom: -2px;
          left: 9px; }
        #login-box #login #login_01 .login_box .login_box-note-sp1 {
          width: 28px;
          height: 27px;
          margin: 8px 0 0 8px;
          background: url(../../../img/log/logo_i.png);
          background-position: -128px 0;
          position: absolute; }
        #login-box #login #login_01 .login_box .login_box-note-inp {
          border: 1px solid #999;
          padding: 0;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-indent: 50px;
          font-size: 12px;
          box-sizing: border-box; }
        #login-box #login #login_01 .login_box .login_box-note-sp2 {
          position: absolute;
          right: 1px;
          top: 1px;
          width: 85px;
          height: 38px;
          background: #f0f0f0;
          border-left: 1px solid #cdd1d4;
          text-align: center;
          line-height: 38px;
          color: red;
          cursor: pointer;
          font-size: 14px;
          z-index: 0; }
        #login-box #login #login_01 .login_box .login_box-note-sp3 {
          color: red;
          font-size: 12px;
          position: absolute;
          bottom: -2px;
          left: 9px; }
      #login-box #login #login_01 .login_box-confirm {
        margin: 4px 0 10px;
        font-size: 14px;
        height: 20px;
        cursor: pointer; }
        #login-box #login #login_01 .login_box-confirm .login_box-confirm-inp {
          margin-top: 4px;
          vertical-align: top; }
        #login-box #login #login_01 .login_box-confirm .login_box-confirm-sp {
          font-size: 14px; }
      #login-box #login #login_01 .login--box-btn .login--box-but {
        padding: 0;
        color: #fff;
        width: 100%;
        height: 40px;
        display: block;
        cursor: pointer;
        border: 0;
        line-height: 40px;
        text-align: center;
        background: red;
        font-size: 16px; }
      #login-box #login #login_01 .login--box-elect {
        margin-top: 10px; }
        #login-box #login #login_01 .login--box-elect .login--box-elect-a1 {
          font-size: 14px !important;
          color: black;
          float: left; }
        #login-box #login #login_01 .login--box-elect .login--box-elect-a2 {
          float: right;
          color: red !important;
          font-size: 14px !important; }
    #login-box #login #login_02 {
      width: 280px;
      height: 378px;
      border: 1px solid #ccc;
      background: #fff;
      position: absolute;
      top: 40px;
      right: 0;
      padding: 20px 40px 20px; }
      #login-box #login #login_02 .login_02_box .login_02_p1 {
        font-size: 18px;
        color: #333;
        line-height: 36px;
        margin-bottom: 23px; }
      #login-box #login #login_02 .login_02_box .login_02_p2 {
        margin-bottom: 13px;
        font-size: 14px;
        color: #484848; }
      #login-box #login #login_02 .login_02_box .login_02_m1 {
        margin-top: 5px;
        padding-bottom: 15px;
        position: relative; }
        #login-box #login #login_02 .login_02_box .login_02_m1 .login_02_m1_sp1 {
          width: 28px;
          height: 27px;
          margin: 8px 0 0 8px;
          background: url(../../../img/log/logo_i.png);
          background-position: -96px 0;
          position: absolute; }
        #login-box #login #login_02 .login_02_box .login_02_m1 .login_02_m1_inp {
          border: 1px solid #999;
          padding: 0;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-indent: 50px;
          font-size: 12px;
          box-sizing: border-box;
          outline: 0; }
        #login-box #login #login_02 .login_02_box .login_02_m1 .login_02_m1_sp2 {
          color: red;
          font-size: 12px;
          position: absolute;
          bottom: -2px;
          left: 9px; }
      #login-box #login #login_02 .login_02_box .login_02_m2 {
        margin-top: 5px;
        padding-bottom: 15px;
        position: relative; }
        #login-box #login #login_02 .login_02_box .login_02_m2 .login_02_m2_sp1 {
          width: 28px;
          height: 27px;
          margin: 8px 0 0 8px;
          background: url(../../../img/log/logo_i.png);
          background-position: -96px 0;
          position: absolute; }
        #login-box #login #login_02 .login_02_box .login_02_m2 .login_02_m2_inp {
          border: 1px solid #999;
          padding: 0;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-indent: 50px;
          font-size: 12px;
          box-sizing: border-box;
          outline: 0; }
        #login-box #login #login_02 .login_02_box .login_02_m2 .login_02_m2_sp2 {
          color: red;
          font-size: 12px;
          position: absolute;
          bottom: -2px;
          left: 9px; }
      #login-box #login #login_02 .login_02_box .login_02_p3 {
        color: #999 !important;
        text-align: center;
        margin-bottom: 10px;
        font-size: 14px !important; }
      #login-box #login #login_02 .login_02_box .login_02_p4 {
        margin-top: 5px; }
        #login-box #login #login_02 .login_02_box .login_02_p4 span {
          padding: 0;
          color: #fff;
          width: 100%;
          height: 40px;
          display: block;
          cursor: pointer;
          border: 0;
          line-height: 40px;
          text-align: center;
          background: red;
          font-size: 16px; }

/*# sourceMappingURL=login.css.map */
